.github
vendor
node_modules
.gitignore
phpunit.xml
test
README.md
.env.example
composer.lock
package-lock.json
logo.png
index.php
.env
.github
vendor
node_modules
bootstrap/cache/*
storage/framework/sessions/*
storage/framework/cache/*
storage/framework/views/*
storage/logs/*

bootstrap/cache/.
storage/framework/sessions/.
storage/framework/cache/.
storage/framework/views/.
storage/logs/.