name: Clone and Push to laravel-saas-app

on:
  # On changes
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Clone repo
        run: git clone https://appsaeed:${{ secrets.GPA_TOKEN }}@github.com/appsaeed/laravel-saas-app.git laravel-saas-app

      - run: rm -rf .git
      - run: cp -R laravel-saas-app/.git .
      - run: cp -run laravel-saas-app/* ./ 2>/dev/null

      # Commit and push to current repo
      - name: Commit and push to laravel-saas-app repo
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"

          git add README.md LICENSE
          git commit -m "Automated push (README.md)" >/dev/null 2>&1 && echo "Success: Commit successful" || echo "Error: Nothing to commit"
          git push https://appsaeed:${{ secrets.GPA_TOKEN }}@github.com/appsaeed/laravel-saas-app.git main --force